div {
    background-image: none;
    background-color: black;
    color: white;
}

table {
    width: 100%;
    max-width: 750px;
    margin: auto;
    border-collapse: collapse;
    border-spacing:5em;
    margin-top: 300px;
}

thead {
    font-weight: bolder;
    color: white;
    background: black;
}

tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

td {
    padding: 8px 5px;
}